.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
  margin-bottom: 15px;
  width: 100%;
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
  margin-bottom: 15px;
  width: 100%;
}
.input-group-text {
  font-size: 1.5rem;
  width: 50px;
}
.form-group {
  margin-bottom: 20px;
}

article.card-body {
  width: 55%;
}
@media only screen and (max-width: 600px) {
  article.card-body {
    width: 85%;
  }
}
